<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>
    <form method="post" action="{{ url_for('do_register') }}">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="InputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword1" name="InputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password again</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="InputPassword2">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone number</label>
            <input type="tel" class="form-control" id="InputPhonenumber1" name="InputPhonenumber1">
        </div>
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>

</body>

</html>